financetoolkit>=2.0.7
fredapi>=0.5.2
matplotlib>=3.8.0
numpy>=1.24.0
pandas>=2.0.0
polars>=1.40.1
pytest>=7.0.0
python-dotenv>=1.0.0
riskfolio-lib>=5.0.0
statsmodels>=0.14.0
streamlit[auth]>=1.40.0
plotly>=5.18.0
yfinance>=0.2.35